</div>
<div class="footer-padding"></div>
<footer>
    <p>Made with ❤️ by <a style="text-decoration: none; color:white;" href="https://www.linkedin.com/public-profile/settings?trk=d_flagship3_profile_self_view_public_profile&lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_self_edit_top_card%3BePI5x86XSd%2BSJitP3N1iWw%3D%3D"
            target="blank">AA Developers.</a></p>

</footer>
</div>
</body>

</html>