<%- include("partials/header") -%>

    <h1>Contact</h1>
    <p>
        <%= cc %>
    </p>
    <p>
        phone number: 9689398517<br> email: abhaneabhishek@gmail.com
    </p>



    <%- include("partials/footer") -%>